{% extends 'PodcastMainBundle::layout.html.twig' %}

{% block title %}Podcast Tool{% endblock %}

{% block content_header %}
<div id="content-header">
    <h1>Edit {{ entity }}</h1>
    <div class="btn-group">
        <form action="{{ path('category_delete', { 'id': entity.id }) }}" method="post" style="display:inline">
            {{ form_widget(delete_form) }}
            <input type="hidden" name="_method" value="DELETE" />
            <button type="submit" class="btn">Delete</button>
        </form>
    </div>
</div>
<div id="breadcrumb">
    <a class="tip-bottom" href="#" data-original-title="Go to Home"><i class="icon-home"></i> Home</a>
    <a class="current" href="#">Dashboard</a>
</div>
{% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="row-fluid">
            <div class="span12">
                <div class="widget-box">
                    <div class="widget-title">
                        <span class="icon"><i class="icon-edit"></i></span>
                        <h5>Edit</h5>
                    </div>
                    <div class="widget-content nopadding">
                        <form class="form-horizontal" action="{{ path('category_update', { 'id': entity.id }) }}" method="post" {% if app.environment == "test" %}novalidate="true"{% endif %} {{ form_enctype(edit_form) }}>
                            {{ form_widget(edit_form, {'form_type': 'horizontal'}) }}
                                <input type="hidden" name="_method" value="PUT" />
                                <div class="form-actions">
                                    <a class="btn" href="{{ path('category') }}">Cancel</a>
                                    <button class="btn" type="submit">Update</button>
                                </div>
                            </form>
                        </div>
                    </div>          
                </div><!--/span-->
            </div><!--/row-->
        </div>
    </div>
{% endblock %}
