<div modal="shouldBeOpen" close="shouldBeOpen = false" options="options">
    <form method="post" id="login-form" class="nomargin">
        <div class="modal-header">
            <button type="button" class="close" ng-click="shouldBeOpen = false" aria-hidden="true">&times;</button>
            <h3>Login</h3>
        </div>
        <div class="modal-body">
            <input type="hidden" id="csrf_token" name="_csrf_token" value="{{ csrf_token }}" />
            <div class="control-group">
                <div class="controls">
                    <input type="text" id="username" name="_username" value="{{ last_username }}" placeholder="{{ 'security.login.username'|trans({}, 'FOSUserBundle') }}" class="input-block-level" />
                    <div ng-show="">
                    </div>
                </div>
            </div>
            <div class="control-group">
                <div class="controls">
                    <input type="password" id="password" name="_password" placeholder="{{ 'security.login.password'|trans({}, 'FOSUserBundle') }}"  class="input-block-level" />
                </div>
            </div>
            <div class="control-group">
                <label class="checkbox" for="remember_me">
                    <input type="checkbox" id="remember_me" name="_remember_me" value="on" /> {{ 'security.login.remember_me'|trans({}, 'FOSUserBundle') }}
                </label>
            </div>
        </div>
        <div class="modal-footer">
            <input class="btn btn-warning" type="submit" id="_submit" name="_submit" value="{{ 'security.login.submit'|trans({}, 'FOSUserBundle') }}" ng-click="login(user)"/>
        </div>
    </form>
</div>