<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta charset="UTF-8" />
        <title>{% block title %}Demo Bundle{% endblock %}</title>
        <link rel="shortcut icon" href="{{ asset('favicon.ico') }}" />
        <!--[if lt IE 9]>
          <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->




        {% stylesheets filter="lessphp,cssrewrite"
            'bundles/podcastmain/bootstrap/less/bootstrap.less'
            'bundles/podcastmain/bootstrap/less/responsive.less'
            'bundles/podcastmain/font-awesome/less/font-awesome.less'
            'bundles/podcastmain/select2/select2.css'
        %}
        <link rel="stylesheet" href="{{ asset_url }}" />
        {% endstylesheets %}
        {% stylesheets
            '@PodcastMainBundle/Resources/public/internal/css/unicorn.main.css'
            '@PodcastMainBundle/Resources/public/internal/css/unicorn.blue.css'
            '@PodcastMainBundle/Resources/public/internal/css/internal.css'
        %}
        <link rel="stylesheet" href="{{ asset_url }}" />
        {% endstylesheets %}
    </head>
    <body>
        <div id="header">
            <h1><a href="./dashboard.html">Unicorn Admin</a></h1>	
        </div>
        <div id="search">
            <input type="text" placeholder="Search here..."><button class="tip-right" type="submit" data-original-title="Search"><i class="icon-search icon-white"></i></button>
        </div>
        <div class="navbar navbar-inverse" id="user-nav">
            
            {{ knp_menu_render('PodcastMainBundle:Builder:mainMenu') }}

            
            <ul class="nav btn-group" style="width: auto; margin: 0px;">

                <li href="#" class="btn btn-inverse">
                    <a href="#">
                        <i class="icon-white icon-backward"></i>
                        <span class="text">Prev</span>
                    </a>
                </li>
                <li href="#" class="btn btn-inverse"><a href="#"><i class="icon-white icon-stop"></i><span class="text">Stop</span></a></li>
                <li href="#" class="btn btn-inverse"><a href="#"><i class="icon-white icon-play"></i><span class="text">Play</span></a></li>
                <li href="#" class="btn btn-inverse"><a href="#"><i class="icon-white icon-forward"></i><span class="text">Next</span></a></li>
        </div>
    </div>            <div id="sidebar">
        <a class="visible-phone" href="#"><i class="icon icon-home"></i> Dashboard</a>
        <ul style="display: block;">
            <li class="active"><a href="#index"><i class="icon icon-home"></i> <span>Dashboard</span></a></li>
            <li class="submenu">
                <a href="#"><i class="icon icon-th-list"></i> <span>Subscriptions</span> <span class="label" data-bind="text: user.subscriptions().length"></span></a>
                <ul data-bind="foreach: user.subscriptions">
                    <li data-bind="css: { active: $data.id == $root.podcastId() }"><a href="#" data-bind="text: name, click: $root.loadSubscription"></a></li>
                </ul>
            </li>
        </ul>
    </div>
    <div id="content">
                {% block content %}
                {% endblock %}
        </div>
        <!-- fos_js_routing -->
        <script type="text/javascript" src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
        <script type="text/javascript" src="{{ path('fos_js_routing_js', {"callback": "fos.Router.setData"}) }}"></script>
        <!-- /fos_js_routing -->

        <script>var cog = {};</script>
        {% javascripts 
            '@PodcastMainBundle/Resources/public/jquery/jquery.js'

            '@PodcastMainBundle/Resources/public/bootstrap/js/bootstrap-alert.js' 
            '@PodcastMainBundle/Resources/public/bootstrap/js/bootstrap-button.js' 
            '@PodcastMainBundle/Resources/public/bootstrap/js/bootstrap-dropdown.js' 
            '@PodcastMainBundle/Resources/public/bootstrap/js/bootstrap-modal.js' 
            '@PodcastMainBundle/Resources/public/bootstrap/js/bootstrap-tooltip.js' 
            '@PodcastMainBundle/Resources/public/bootstrap/js/bootstrap-popover.js' 
            '@PodcastMainBundle/Resources/public/bootstrap/js/bootstrap-tab.js' 
            
            '@PodcastMainBundle/Resources/public/knockout/build/output/knockout-latest.js' 

            '@PodcastMainBundle/Resources/public/knockout-mapping/knockout.mapping.js' 

            '@PodcastMainBundle/Resources/public/sammy/lib/sammy.js' 

            '@PodcastMainBundle/Resources/public/select2/select2.js' 

            '@PodcastMainBundle/Resources/public/datatables/media/js/jquery.dataTables.js' 

            '@PodcastMainBundle/Resources/public/soundmanager/script/soundmanager2.js' 

            '@PodcastMainBundle/Resources/public/datejs/build/date-en-GB.js' 

            '@PodcastMainBundle/Resources/public/internal/js/bindings/datatable.bootstrap.js'
            '@PodcastMainBundle/Resources/public/internal/js/bindings/knockout.datatable.js'

            '@PodcastMainBundle/Resources/public/internal/js/PodcatcherViewModel.js'
        %}
        <script src="{{ asset_url }}"></script>
        {% endjavascripts %}
    </body>
</html>