<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta charset="UTF-8" />
        <title>{% block title %}Demo Bundle{% endblock %}</title>
        <link rel="shortcut icon" href="{{ asset('favicon.ico') }}" />
        <!--[if lt IE 9]>
          <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->
        {% stylesheets filter="lessphp,cssrewrite"
            'bundles/podcastmain/bootstrap/less/bootstrap.less'
            'bundles/podcastmain/bootstrap/less/responsive.less'
            'bundles/podcastmain/font-awesome/less/font-awesome.less'
            'bundles/podcastmain/select2/select2.css'
        %}
        <link rel="stylesheet" href="{{ asset_url }}" />
        {% endstylesheets %}
        {% stylesheets
            '@PodcastMainBundle/Resources/public/internal/css/unicorn.main.css'
            '@PodcastMainBundle/Resources/public/internal/css/unicorn.grey.css'
            '@PodcastMainBundle/Resources/public/internal/css/internal.css'
        %}
        <link rel="stylesheet" href="{{ asset_url }}" />
        {% endstylesheets %}
    </head>
    <body>
        
        <div id="header">
            <h1><a href="./dashboard.html">Unicorn Admin</a></h1>	
        </div>
        <div id="search">
			<input type="text" placeholder="Search here..."><button type="submit" class="tip-right" title="" data-original-title="Search"><i class="icon-search icon-white"></i></button>
		</div>
                 {% if is_granted("IS_AUTHENTICATED_REMEMBERED") == true %}
        <div id="user-nav" class="navbar navbar-inverse">
            <ul class="nav btn-group">
                <li class="btn btn-inverse"><a title="" href="#"><i class="icon icon-user"></i> <span class="text">Profile</span></a></li>
                <li class="btn btn-inverse dropdown" id="menu-messages"><a href="#" data-toggle="dropdown" data-target="#menu-messages" class="dropdown-toggle"><i class="icon icon-envelope"></i> <span class="text">Messages</span> <span class="label label-important">5</span> <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a class="sAdd" title="" href="#">new message</a></li>
                        <li><a class="sInbox" title="" href="#">inbox</a></li>
                        <li><a class="sOutbox" title="" href="#">outbox</a></li>
                        <li><a class="sTrash" title="" href="#">trash</a></li>
                    </ul>
                </li>
                <li class="btn btn-inverse"><a title="" href="#"><i class="icon icon-cog"></i> <span class="text">Settings</span></a></li>
                <li class="btn btn-inverse"><a title="" href="login.html"><i class="icon icon-share-alt"></i> <span class="text">Logout</span></a></li>
                </ul>
        </div>
                    {% endif %}        

    <div id="sidebar">

                 {% if is_granted("IS_AUTHENTICATED_REMEMBERED") == false %}
                        {% render "FOSUserBundle:Security:login" %}
                    {% endif %}        

            {{ knp_menu_render('PodcastMainBundle:Builder:mainMenu') }}

    </div>
    <div id="content">
        
        {% block content_header %}
                {% endblock %} 
        
        <div class="container-fluid">

                {% block fos_user_content %}
                {% endblock %}          

                {% block content %}
                {% endblock %}
        </div>
    </div>

    <!-- fos_js_routing -->
    <script type="text/javascript" src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
    <script type="text/javascript" src="{{ path('fos_js_routing_js', {"callback": "fos.Router.setData"}) }}"></script>
    <!-- /fos_js_routing -->

        {% javascripts 
            '@PodcastMainBundle/Resources/public/jquery/jquery.js'

            '@PodcastMainBundle/Resources/public/bootstrap/js/bootstrap-alert.js' 
            '@PodcastMainBundle/Resources/public/bootstrap/js/bootstrap-button.js' 
            '@PodcastMainBundle/Resources/public/bootstrap/js/bootstrap-dropdown.js' 
            '@PodcastMainBundle/Resources/public/bootstrap/js/bootstrap-modal.js' 
            '@PodcastMainBundle/Resources/public/bootstrap/js/bootstrap-tooltip.js' 
            '@PodcastMainBundle/Resources/public/bootstrap/js/bootstrap-popover.js' 
            '@PodcastMainBundle/Resources/public/bootstrap/js/bootstrap-tab.js' 
            
            '@PodcastMainBundle/Resources/public/knockout/build/output/knockout-latest.js' 

            '@PodcastMainBundle/Resources/public/knockout-mapping/knockout.mapping.js' 

            '@PodcastMainBundle/Resources/public/sammy/lib/sammy.js' 

            '@PodcastMainBundle/Resources/public/select2/select2.js' 

            '@PodcastMainBundle/Resources/public/datatables/media/js/jquery.dataTables.js' 

            '@PodcastMainBundle/Resources/public/soundmanager/script/soundmanager2.js' 

            '@PodcastMainBundle/Resources/public/datejs/build/date-en-GB.js' 

            '@PodcastMainBundle/Resources/public/Knockout.Extensions/Javascript/src/cog.js'
            '@PodcastMainBundle/Resources/public/Knockout.Extensions/Javascript/src/cog.utils.js'
            '@PodcastMainBundle/Resources/public/Knockout.Extensions/Javascript/src/knockout.bindings.dataTables.js'

            '@PodcastMainBundle/Resources/public/internal/js/PodcatcherViewModel.js'
        %}
    <script src="{{ asset_url }}"></script>
        {% endjavascripts %}
</body>
</html>