<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta charset="UTF-8" />
        <title>{% block title %}Demo Bundle{% endblock %}</title>
        <link rel="shortcut icon" href="{{ asset('favicon.ico') }}" />
        <!--[if lt IE 9]>
          <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->
        {% stylesheets filter="lessphp,cssrewrite"
            'bundles/podcastmain/bootstrap/less/bootstrap.less'
            'bundles/podcastmain/bootstrap/less/responsive.less'
            'bundles/podcastmain/font-awesome/less/font-awesome.less'
            'bundles/podcastmain/select2/select2.css'
        %}
        <link rel="stylesheet" href="{{ asset_url }}" />
        {% endstylesheets %}
        {% stylesheets
            '@PodcastMainBundle/Resources/public/internal/css/unicorn.main.css'
            '@PodcastMainBundle/Resources/public/internal/css/unicorn.grey.css'
            '@PodcastMainBundle/Resources/public/internal/css/internal.css'
        %}
        <link rel="stylesheet" href="{{ asset_url }}" />
        {% endstylesheets %}
    </head>
    <body>
        <div id="header">
            <h1><a href="./dashboard.html">Unicorn Admin</a></h1>	
        </div>
        <div id="search">
            <input type="text" placeholder="Search here..."><button class="tip-right" type="submit" data-original-title="Search"><i class="icon-search icon-white"></i></button>
        </div>
        <div class="navbar navbar-inverse" id="user-nav">


        </div>
    </div>            
    <div id="sidebar">



            {{ knp_menu_render('PodcastMainBundle:Builder:mainMenu') }}

    </div>
    <div id="content">
                {% block fos_user_content %}
                {% endblock %}                
                {% block content %}
                {% endblock %}
        </div>
        <!-- fos_js_routing -->
        <script type="text/javascript" src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
        <script type="text/javascript" src="{{ path('fos_js_routing_js', {"callback": "fos.Router.setData"}) }}"></script>
        <!-- /fos_js_routing -->

        {% javascripts 
            '@PodcastMainBundle/Resources/public/jquery/jquery.js'

            '@PodcastMainBundle/Resources/public/bootstrap/js/bootstrap-alert.js' 
            '@PodcastMainBundle/Resources/public/bootstrap/js/bootstrap-button.js' 
            '@PodcastMainBundle/Resources/public/bootstrap/js/bootstrap-dropdown.js' 
            '@PodcastMainBundle/Resources/public/bootstrap/js/bootstrap-modal.js' 
            '@PodcastMainBundle/Resources/public/bootstrap/js/bootstrap-tooltip.js' 
            '@PodcastMainBundle/Resources/public/bootstrap/js/bootstrap-popover.js' 
            '@PodcastMainBundle/Resources/public/bootstrap/js/bootstrap-tab.js' 
            
            '@PodcastMainBundle/Resources/public/knockout/build/output/knockout-latest.js' 

            '@PodcastMainBundle/Resources/public/knockout-mapping/knockout.mapping.js' 

            '@PodcastMainBundle/Resources/public/sammy/lib/sammy.js' 

            '@PodcastMainBundle/Resources/public/select2/select2.js' 

            '@PodcastMainBundle/Resources/public/datatables/media/js/jquery.dataTables.js' 

            '@PodcastMainBundle/Resources/public/soundmanager/script/soundmanager2.js' 

            '@PodcastMainBundle/Resources/public/datejs/build/date-en-GB.js' 
            '@PodcastMainBundle/Resources/public/Knockout.Extensions/Javascript/src/cog.js'
            '@PodcastMainBundle/Resources/public/Knockout.Extensions/Javascript/src/cog.utils.js'
            '@PodcastMainBundle/Resources/public/Knockout.Extensions/Javascript/src/knockout.bindings.dataTables.js'

            '@PodcastMainBundle/Resources/public/internal/js/PodcatcherViewModel.js'
        %}
        <script src="{{ asset_url }}"></script>
        {% endjavascripts %}
    </body>
</html>