<!DOCTYPE html>
<html lang="en" ng-app="podcatcher">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<head>
    <title>Home |Virgin</title>
    {% stylesheets filter="lessphp,cssrewrite"
    'js/flatstrap/assets/less/bootstrap.less'
    'js/flatstrap/assets/less/responsive.less'
    'js/font-awesome/build/assets/font-awesome/less/font-awesome.less'
    '@PodcastMainBundle/Resources/public/internal/less/style.less'
    %}
    <link rel="stylesheet" href="{{ asset_url }}"/>
    {% endstylesheets %}
    <style type="text/css">
        body {
            padding-top: 41px;
            padding-bottom: 40px;
        }

        .sidebar-nav {
            padding: 9px 0;
        }

        @media (max-width: 980px) {
            /* Enable use of floated navbar text */
            .navbar-text.pull-right {
                float: none;
                padding-left: 5px;
                padding-right: 5px;
            }
        }
    </style>

</head>
<body>
<!-- Fixed navbar -->
<div class="navbar navbar-orange navbar-fixed-top">
    <div class="navbar-inner">
        <p class="brand">
            <i class="icon-headphones"></i>
        </p>
        <ul class="nav pull-left">
            <li class="divider-vertical"></li>
            <li>
                <a href="#{{ path('_welcome') }}"><i class="icon-home"></i> Home</a>
            </li>
            <li>
                <a href="#{{ path('get_podcasts') }}"><i class="icon-list-alt"></i> <span class="show-desktop">Directory</span></a>
            </li>
            <li ng-controller="SubscriptionsListCtrl" class="subscriptions-icon">
                <a href="#{{ path('get_subscribed') }}"><i class="icon-heart"></i> <span class="show-desktop">Subscribed</span>
                    <span class="badge badge-warning">{% raw %}{{ user.subscriptions.length }}{% endraw %}</span>
                </a>
            </li>
        </ul>
        <ul class="nav pull-right">
            <li class="divider-vertical"></li>
            <li class="dropdown">
                <a class="dropdown-toggle" role="button" data-toggle="dropdown" id="security-ctrl" ng-controller="SecurityCtrl"><i
                            class="icon-user icon-large"></i> {% raw %}{{ user.username }}{% endraw %}</a>

                <ul class="dropdown-menu" role="menu">
                    <li ng-show="!user.authenticated" ng-controller="SecurityCtrl">
                        <a ng-click="open = true" id="login-ctrl">Login</a>
                        {% render "PodcastUserBundle:Security:login" %}
                    </li>
                    <li ng-show="!user.authenticated" ng-controller="RegistrationCtrl">
                        <a ng-click="open = true">Register</a>
                        {% render "PodcastUserBundle:Registration:register" %}
                    </li>
                    <li ng-show="user.authenticated" ng-controller="SecurityCtrl"><a href="{{ path('fos_user_security_logout') }}">Logout</a></li>
                </ul>

            </li>
            <li><a href="#"><i class="icon-cog icon-large"></i></a></li>
        </ul>
    </div>
</div>
<section class="subhead" ng-controller="PodcastSearchCtrl">
    <section class="row-fluid subhead-inner">
        <div class="span12" id="main-content">
            <div class="form-horizontal" id="super-search">
                <div class="input-append">
                    <input type="text" ng-model="result" ng-model="result" typeahead="suggestion.name for suggestion in search($viewValue)" typeahead-on-select="onSelect($item)" >
                    <button class="btn btn-warning" type="button"><i class="icon-white icon-search"></i></button>
                </div>
            </div>
        </div>
    </section>
</section>
<div ng-view>


</div>

<!-- {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
    {{ 'layout.logged_in_as'|trans({'%username%': app.user.username}, 'FOSUserBundle') }}
{% endif %} -->

<!-- fos_js_routing -->
<script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
<script src="{{ path('fos_js_routing_js', {"callback": "fos.Router.setData"}) }}"></script>
<!-- /fos_js_routing -->

{% javascripts
'js/jquery/jquery.js'
'js/angular-unstable/angular.js'
'js/bootstrap/js/bootstrap-transition.js'
'js/bootstrap/js/bootstrap-dropdown.js'
'js/bootstrap/js/bootstrap-button.js'
'js/bootstrap/js/bootstrap-typeahead.js'
'js/bootstrap/js/bootstrap-tooltip.js'
'js/angular-bootstrap/ui-bootstrap.js'
'js/angular-bootstrap/ui-bootstrap-tpls.js'
'js/angular-resource-unstable/angular-resource.js'
'js/angular-local-storage/angular-local-storage.js'
'js/isotope/jquery.isotope.js'
'js/moment/moment.js'
'js/promise-tracker/promise-tracker.js'

'@PodcastMainBundle/Resources/public/app/app.js'

'@PodcastMainBundle/Resources/public/app/controllers/user-home-controller.js'
'@PodcastMainBundle/Resources/public/app/controllers/podcast-detail-controller.js'
'@PodcastMainBundle/Resources/public/app/controllers/podcast-search-controller.js'
'@PodcastMainBundle/Resources/public/app/controllers/podcast-list-controller.js'
'@PodcastMainBundle/Resources/public/app/controllers/security-controller.js'
'@PodcastMainBundle/Resources/public/app/controllers/registration-controller.js'
'@PodcastMainBundle/Resources/public/app/controllers/subscriptions-list-controller.js'

'@PodcastMainBundle/Resources/public/app/filters/get-by-id.js'
'@PodcastMainBundle/Resources/public/app/filters/get-field-from-array.js'

'@PodcastMainBundle/Resources/public/app/services/category-factory.js'
'@PodcastMainBundle/Resources/public/app/services/organization-factory.js'
'@PodcastMainBundle/Resources/public/app/services/podcast-factory.js'
'@PodcastMainBundle/Resources/public/app/services/episode-factory.js'
'@PodcastMainBundle/Resources/public/app/services/podcast-episode-factory.js'
'@PodcastMainBundle/Resources/public/app/services/user-service.js'

'@PodcastMainBundle/Resources/public/app/directives/app-version.js'

%}
<script src="{{ asset_url }}"></script>
{% endjavascripts %}
</body>
</html>