<!DOCTYPE html>
<html lang="en" ng-app="podcatcher">
    <head>
        <title>Home |Virgin</title>
        {% stylesheets filter="lessphp,cssrewrite"

            'bundles/podcastmain/bootstrap/less/bootstrap.less'
            'bundles/podcastmain/bootstrap/less/responsive.less'
            'bundles/podcastmain/font-awesome/build/assets/font-awesome/less/font-awesome.less'
            'bundles/podcastmain/internal/aro/library/css/styles.css'
            '@PodcastMainBundle/Resources/public/internal/less/style.less'
            'bundles/podcastmain/internal/less/fonts.less'
        %}
        <link rel="stylesheet" href="{{ asset_url }}" />
        {% endstylesheets %}
    </head>
    <body>
        <!-- Part 1: Wrap all page content here -->
        <div id="wrap">

            <!-- Fixed navbar -->
            <div class="navbar navbar-orange navbar-fixed-top">
                <div class="navbar-inner">
                    <p class="brand">
                        <i class="icon-headphones"></i>PodCapture
                    </p>
                    <ul class="nav pull-right">
                        <li class="divider-vertical"></li>
                        <li><a href="#"><i class="icon-user icon-large"></i></a></li>
                        <li><a href="#"><i class="icon-cog icon-large"></i></a></li>
                    </ul>
                </div>
            </div>

            <section class="subhead" style="box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px; margin-top:41px;">

                <section class="row-fluid subhead-inner">
                    <div class="span12" id="main-content">

                        <ul class="nav nav-pills pull-right" data-bind="foreach: sorts" id="podcast-sorts">
                            <li class="pull-right">
                                <a href="#"><!-- ko text: name --><!-- /ko --></a>
                            </li>
                        </ul>

                        <ul class="nav nav-pills pull-right">
                            <li><a href="#"><i class="icon-filter"></i> Filter</a></li>
                        </ul>

                        <div class="form-horizontal" id="super-search">
                            <div class="input-append">
                                <input placeholder="Super Search" data-control="home" size="16" type="text"><button class="btn btn-warning" type="button">Podcasts&nbsp;&nbsp;<b class="caret"></b></button><ul class="dropdown-menu droppy-menu" id="sOpsL">
                                    <li><a href="#"><i class="icon-fire"></i> Designs</a></li>
                                    <li><a href="#"><i class="icon-eye-open"></i> Apps</a></li>
                                    <li><a href="#"><i class="icon-eye-close"></i> Prototypes</a></li>
                                    <li class="divider"></li>
                                    <li><a href="#"><i class="icon-user"></i> Members</a></li>
                                    <li class="divider"></li>
                                    <li><a href="#"><i class="icon-align-justify"></i> Articles</a></li>
                                </ul><button class="btn btn-warning" type="button"><i class="icon-white icon-search"></i></button>
                            </div>
                        </div>
                    </div>

                </section>

            </section>

            <!-- Begin page content -->
            <div class="container-fluid">
                <div class="row-fluid">
                    <div class="span2 side-bar">
                        <ul>
                            <li><figure class="active"><i class='icon-home'></i> <div class='menuText'><a href='/'>Home</a></div></figure></li>
                            <li><figure><i class="icon-th-large"></i> <div class="menuText"><a href='/'>Directory</a></div></figure></li>
                            <li><figure><i class="icon-star"></i> <div class="menuText"><a href='{{ path('get_subscribed') }}'>Subscribed</a></figure></li>
                            <li><figure><i class="icon-user"></i> <div class="menuText"><a href="#" data-toggle="modal" data-target="#myModal" data-backdrop="false">Register</a></div></figure></li>
                        </ul>

                    </div>
                    <div class="span10">
                        <div ng-view id="content"></div>


                    </div>
                </div>

            </div>
            <!-- fos_js_routing -->
            <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
            <script src="{{ path('fos_js_routing_js', {"callback": "fos.Router.setData"}) }}"></script>
            <!-- /fos_js_routing -->
            {% javascripts
                '@PodcastMainBundle/Resources/public/jquery/jquery.js'
                '@PodcastMainBundle/Resources/public/angular/angular.js'

                '@PodcastMainBundle/Resources/public/angular-bootstrap/ui-bootstrap.js'
                '@PodcastMainBundle/Resources/public/angular-bootstrap/ui-bootstrap-tpls.js'
                '@PodcastMainBundle/Resources/public/angular-resource/angular-resource.js'

                '@PodcastMainBundle/Resources/public/isotope/jquery.isotope.js'

                '@PodcastMainBundle/Resources/public/internal/podcatcher/js/app.js'
                '@PodcastMainBundle/Resources/public/internal/podcatcher/js/controllers.js'
                '@PodcastMainBundle/Resources/public/internal/podcatcher/js/filters.js'
                '@PodcastMainBundle/Resources/public/internal/podcatcher/js/directives.js'
                '@PodcastMainBundle/Resources/public/internal/podcatcher/js/services.js'

            %}
            <script src="{{ asset_url }}"></script>
            {% endjavascripts %}  
    </body>
</html>