<!DOCTYPE html>
<html lang="en" ng-app="podcatcher">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<head>
    <title>Home |Virgin</title>
    {% stylesheets filter="lessphp,cssrewrite"
    'js/bootstrap/less/bootstrap.less'
    'js/font-awesome/build/assets/font-awesome/less/font-awesome.less'
    '@PodcastMainBundle/Resources/public/internal/less/style.less'
    '@PodcastMainBundle/Resources/public/internal/less/style.less'
    '@FOSCommentBundle/Resources/assets/css/comments.css'
    %}
    <link rel="stylesheet" href="{{ asset_url }}"/>
    {% endstylesheets %}
    <style type="text/css">
        body {
            padding-top: 50px;
        }
    </style>

</head>
<body>

<header>
    <div class="navbar navbar-fixed-top" role="banner">
      <div class="container">
        <div class="navbar-header">
          <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".bs-navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a href="../" class="navbar-brand"><i class="icon-headphones"></i> PODCATCHER</a>
        </div>
        <nav class="collapse navbar-collapse bs-navbar-collapse" role="navigation">
            <ul class="nav navbar-nav">
                <li>
                    <a href="#{{ path('_welcome') }}"><i class="icon-home"></i> Home</a>
                </li>
                <li>
                    <a href="#{{ path('get_podcasts') }}"><i class="icon-list-alt"></i> <span class="show-desktop">Directory</span></a>
                </li>
                <li ng-controller="SubscriptionsListCtrl" class="subscriptions-icon" ng-show="user.authenticated">
                    <a href="#{{ path('get_subscribed') }}"><i class="icon-heart"></i> <span class="show-desktop">Subscribed</span>
                        <span class="badge badge-warning">{% raw %}{{ user.subscriptions.length }}{% endraw %}</span>
                    </a>
                </li>
                <li class="dropdown pull-right">
                    <a class="dropdown-toggle" id="dLabel" role="button" data-toggle="dropdown" data-target="#" ng-controller="SecurityCtrl"><i class="icon-user icon-large"></i> {% raw %}{{ user.username }}{% endraw %}</a>
                    <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu">
                        <li ng-show="!user.authenticated" ng-controller="SecurityCtrl">
                            <a ng-click="open = true" id="login-ctrl">Login</a>
                        </li>
                        <li ng-show="!user.authenticated" ng-controller="RegistrationCtrl">
                            <a ng-click="open = true">Register</a>
                        </li>
                        <li ng-show="user.authenticated" ng-controller="SecurityCtrl"><a href="{{ path('fos_user_security_logout') }}">Logout</a></li>
                    </ul>
                </li>           
            </ul>
        </nav>
      </div>
  </div>
    <div class="navbar text-center" ng-controller="PodcastSearchCtrl">
        <div class="row">
            <div class="col-lg-3"></div>
            <div class="col-lg-6">
                <div class="form-horizontal" id="super-search">
                    <div class="input-group">
                        <input type="text" class="form-control" ng-model="result" ng-model="result" typeahead="suggestion.name for suggestion in search($viewValue)" typeahead-on-select="onSelect($item)" placeholder="Search podcasts">
                        <span class="input-group-btn">
                            <button class="btn btn-primary" type="button"><i class="icon-white icon-search"></i></button>
                        </span>
                    </div><!-- /input-group -->
                </div>
            </div>
            <div class="col-lg-3"></div>
        </div>
</header>

<!--
<div class="navbar navbar-fixed-top bs-docs-nav">
    <div class="container">
        <a href="#/" class="navbar-brand"><i class="icon-headphones"></i> PODCATCHER</a>
        <div class="nav-collapse collapse bs-navbar-collapse">
            <ul class="nav navbar-nav">
                
            </ul>
            
        </div>
    </div>
</div> -->

<div ng-view class="clearfix">
</div>
{#
{% include 'FOSCommentBundle:Thread:async.html.twig' with {'id': 'foo'} %}
#}
<script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
<script src="{{ path('fos_js_routing_js', {"callback": "fos.Router.setData"}) }}"></script>


{% javascripts

'js/jquery/jquery.js'
'js/angular-unstable/angular.js'

'js/angular-bootstrap/ui-bootstrap.js'
'js/angular-bootstrap/ui-bootstrap-tpls.js'
'js/angular-resource-unstable/angular-resource.js'
'js/angular-local-storage/angular-local-storage.js'
'js/angular-moment/angular-moment.js'

'js/moment/moment.js'

'@PodcastMainBundle/Resources/public/app/app.js'

'@PodcastMainBundle/Resources/public/app/controllers/user-home-controller.js'
'@PodcastMainBundle/Resources/public/app/controllers/podcast-detail-controller.js'
'@PodcastMainBundle/Resources/public/app/controllers/podcast-search-controller.js'
'@PodcastMainBundle/Resources/public/app/controllers/podcast-list-controller.js'
'@PodcastMainBundle/Resources/public/app/controllers/security-controller.js'
'@PodcastMainBundle/Resources/public/app/controllers/registration-controller.js'
'@PodcastMainBundle/Resources/public/app/controllers/subscriptions-list-controller.js'

'@PodcastMainBundle/Resources/public/app/filters/get-by-id.js'
'@PodcastMainBundle/Resources/public/app/filters/get-field-from-array.js'

'@PodcastMainBundle/Resources/public/app/services/category-factory.js'
'@PodcastMainBundle/Resources/public/app/services/organization-factory.js'
'@PodcastMainBundle/Resources/public/app/services/podcast-factory.js'
'@PodcastMainBundle/Resources/public/app/services/episode-factory.js'
'@PodcastMainBundle/Resources/public/app/services/podcast-episode-factory.js'
'@PodcastMainBundle/Resources/public/app/services/user-service.js'

'@PodcastMainBundle/Resources/public/app/directives/app-version.js'

%}
<script src="{{ asset_url }}"></script>
{% endjavascripts %}
</body>
</html>