<section class="subhead" style="box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px; margin-top:41px;">
    <section class="row subhead-inner">
        <div class="span12" id="main-content">
        </div>
    </section>
</section>
<div class="container">
<div class="row">
    <div class="span12">
    <div class="page-header">
        <h1 class="hBig">{% raw %}{{ podcast.name }}{% endraw %}
            <small>Episodes</small>
        </h1>
    </div>
</div>
    <div class="row">
        <div class="col-lg-8 blogContent">
            <div class="row blogPost" ng-repeat="episode in podcast.episodes">

                <div class="title">
                    <blockquote>
                        <p style="cursor: pointer">
                            {% raw %}{{ episode.name }}{% endraw %}&nbsp;&nbsp;
                            <span class="label label-warning">New</span>
                        </p>                                    

                        <small> {% raw %}{{ episode.pub_date }}{% endraw %} | {% raw %}{{ episode.length }}{% endraw %} </small>
                    </blockquote>
                </div>

                <div class="blogContent">

                    <p style="clear:both;" ng-bind-html-unsafe="episode.description">
                    </p>
                    <p>
                        <a href="#" data-bind="attr: { href: link }, text: link"></a>
                    </p>
                </div>
            </div>
        </div>
        <div class="span4 blogSide">
            <div class="btn-toolbar">
                <button class="btn btn-warning" data-bind="click: $root.User.subscribe"><i class="icon-white" data-bind="css: { 'icon-star': subscribed(), 'icon-star-empty' : !subscribed() }"></i></button>
            </div>
            <div>
                <img style="width:100%; height: auto; border: 1px solid #D2D2D2; max-width: 300px;"  ng-src="{% raw %}{{ podcast.image }}{% endraw %}">
            </div>
            <hr>
            <p data-bind="html: description"></p>
            <hr>
            <div class="tags">
                <h6>Categories</h6>
                <ul class="unstyled" data-bind="foreach: categories">
                    <li>
                        <a data-bind="text: name, attr: { href: Routing.generate('get_category', { slug: slug }) }" style="color: white"></a>
                    </li>
                </ul>
                <h6>Organizations</h6>
                <ul class="unstyled" data-bind="foreach: organizations">
                    <li>
                        <a data-bind="text: name, attr: { href: Routing.generate('get_organization', { slug: slug }) }" style="color: white"></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="span12">
            <div class="pagination pagination-centered" data-bind="with: pagination">
                <ul>
                    <li data-bind="css: { active: page() == 1 }">
                        <a href='#' data-bind="attr: { href: Routing.generate('get_podcast_episodes', { slug: $parent.slug, page: 1 }) }">&laquo;</a>
                    </li>
                    <!-- ko foreach: ko.utils.range(1, maxPageIndex) -->
                    <li data-bind="css: { active: ($data) == $parent.page() }">
                        <a href="#" data-bind="text: $data, attr: { href: Routing.generate('get_podcast_episodes', { slug: $parents[1].slug, page: $data }) }"></a>
                    </li>
                    <!-- /ko -->                          
                    <li data-bind="css: { active: page() == maxPageIndex() }">
                        <a href='#' data-bind="attr: { href: Routing.generate('get_podcast_episodes', { slug: $parent.slug, page: maxPageIndex }) }">&raquo;</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>        
</div>
</div>